/* ### Theme: 8th ### */

/* === Base Settings === */

/* --- Body Colors --- */

$background: #fffcf7;
$color-inner-divs: #fffdfb;
$color-items: #fffdfb;
$color-item-border: white;
$border-radius: 2em;
$embed-border: 2em;
$color-primary: white;


/* --- Text Colors --- */
$color-text: black;
$color-subtext: black;
$internal-links: brown;
$external-links: brown;
$invalid-links: $internal-links;
$color-primary: brown;
$color-box-shadow: none;


/* --- Borders --- */

/* --- Embeds, Sidenote and Footnote Colors --- */



/* --- Font Family --- */

article { margin-bottom: 0.5em; }

body { box-sizing: content-box; line-height: 1.1em; overflow-x: hidden; color: white; font-size: 1rem; }

body { font-family: serif; overflow-x: hidden; color: white; font-size: 1rem; background-color: black; }

.post-content img { max-width: 100%; display: block; margin: 0 auto; max-height: 75vh; border-radius: none; width: 80%; }

.post-image { width: 90%; margin: 2em auto; }

.post-image img { width: 100%; }

hr { margin-bottom: 0em; border: none; border-top: thin solid white; }

h1, h2, h3, h4, h5, h6 { line-height: 1.4; padding-bottom: 0; font-size: 1.15em; margin: 1em; margin-left: 2em; text-align: left; }

.title-text { color: white; font-weight: bold; font-size: 1.6em; line-height: 1em; margin: 0em; text-align: center; padding: 1em; padding-bottom: 0em; text-decoration: underline !important; text-decoration: underline; font-variant: small-caps; }

.post-content h1 { color: black; font-weight: bold; text-decoration: none; font-size: 1.5em; background-color: white; text-align: center; font-variant: small-caps; margin: 0.5em 0em; }

.post-content h2 { color: white; font-weight: bold; border-bottom: thin solid white; text-align: left; font-variant: small-caps; font-size: 1.4em; margin: 0.5em 0em; }

.post-content h3 { color: white; font-weight: bold; width: fit-content; text-decoration: underline; margin: 0.5em 0em; font-variant: small-caps; }

.post-content h4 { text-transform: none; font-weight: strong; font-size: 1em; margin: 0.5em 0em; }

.post-content h5 { text-transform: none; font-weight: normal; text-decoration: underline; font-size: 1em; margin: 0.5em 0em; }

code { color: white; font-family: ”Iosevka Term SS03”, ”IBM Plex Mono”, ”Fira Code”, ”Fira Mono”, ”Roboto Mono”, ”Droid Sans Mono”, Monaco, Consolas, Courier, monospace; font-size: 0.8em; margin: auto; background-color: #0800a7; }

PRE { margin: 1em auto; border: thin solid white; width: 90%; background-color: transparent; }

pre.highlight { margin: 1em auto; border: thin solid white; width: 90%; background-color: #0800a7; }

.highlight { margin: auto; background-color: transparent; padding: 1em; }

*:focus { background: white !important; color: black !important; }

/* TITLES
================================================== */

h1,h2,h3,h4,h5,h6 {
  line-height: 1.4;
  padding-bottom: 0;
  font-size:1.15em;
  margin:1em;
  margin-left:0em;
    font-variant: small-caps;
}

.title-text {
    text-decoration:underline;
    text-align:center;
    font-weight:bold;
    margin:0em;
    line-height:1em;
    font-size: 1.8em;
}

.post-content{
    
h1 { text-align:center;font-weight:bold; text-decoration: underline; font-size: 1.4em;}

h2 { text-align:left;font-weight:bold; font-size: 1.4em}

h3 {font-weight:normal; text-decoration:underline;text-align:left; font-size:1.3em;}

h4 {text-transform:none;font-weight:normal; font-size:1.2em; text-align:left}
}


ul {
  list-style-type: circle;
}

hr {
  margin:1.5em;
    display: none;
}



/* CODE HIGHLIGHTING
================================================== */

code {
    color: white;
    background-color: black
}



/* LINKS
================================================== */

a { color: white; text-decoration: underline; }

a:hover { color: white !important; text-decoration: underline; background-color: #ff4d4d; cursor: pointer; }

.imglink:hover { background-color: transparent; cursor: pointer; }

.imglink img:hover { cursor: pointer; border: thin solid #ff4d4d; }

.post-content a { color: #ff8585; }

a.internal-link { color: white; text-decoration: underline; cursor: pointer; }

.invalid-link, .invalid-link-brackets { color: white; cursor: help; }

.web-link:hover { cursor: alias; }

nav a.intern-link::before { content: ""; color: red; }

.sidenote a, nav a { font-weight: normal !important; text-decoration: underline; }

.sidenote a:hover { font-weight: normal !important; text-decoration: underline; color: #ff8585; }

nav a { color: white !important; }

.anchor a { color: white; cursor: pointer; }

.anchor a:hover { color: white; cursor: pointer; }

.toc-container a { cursor: pointer; text-decoration: none; }


/* HEADER ANCHORS
================================================== */

.anchor { visibility: hidden; color: gray; opacity: 0.7; text-decoration: none; font-size: 0.8em; font-familiy: monospace; }

.anchor:hover { text-decoration: none; color: black !important; cursor: pointer; }

h1:hover > a.anchor, h2:hover > a.anchor, h3:hover > a.anchor, h4:hover > a.anchor, h5:hover > a.anchor, h6:hover > a.anchor { visibility: visible; }



/* PAGE FORMATTING
================================================== */

.title { width: fit-content; margin: auto; padding: 0em; text-align: center; }

nav { background-color: #240000; border: none; padding: 1em; box-shadow: 1px 1px 0px none; color: white; font-weight: normal; }

.alignleft { float: left; text-align: left; }

.alignright { float: right; text-align: right; }

.notes-entry-container { border: none; padding: 2em; padding-top: 1em; }

.double-border { border: medium double white; }

.single-border { border: 1px solid white; }
/* BACKLINKS
================================================== */

.backlink-box { background-color: blue; border: medium double white; padding: 1em; line-height: 1em; }

.backlinks-excerpt { font-size: 0.9em; color: white; text-decoration: none; }

.backlinks-title { display: inline; font-size: 0.9em; color: white; text-decoration: underline; font-weight: bold; }

.backlinks-none { font-size: 0.9em; text-align: center; }

.note { padding: 1em; padding-top: 0em; }

.content { margin-left: 1em; margin-right: 1em; line-height: 1.1em; padding-top: 0.5em; }


/* TABLE OF CONTENTS
================================================== */

.toc-container { padding: 0em 1em; border: medium double white; margin: 0em auto; display: block; width: 60%; background-color: black; }

.toc-container h1 { color: white; font-variant: small-caps; text-align: center; font-size: 1.2em; text-decoration: none !important; }

toc-container ol { margin: 0px auto; }

.toc-container ol li { list-style-type: numeral; }

.toc-container ol li li { list-style-type: lower-latin; }


//--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--\\
//--=--=--=--=--=--=--=--=*EXTRAS*=--=--=--=--=--=--=--=--\\
//--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--\\


/* STRUCTURE
================================================== */

.sidebar-card, .index-card, .archive-card { box-sizing: border-box; width: 100%; }

.container-lg { max-width: 70em; margin: -1em auto; padding: 1em; margin-left: auto; margin-right: auto; }

.leftcolumn { background: black; height: 100vh; border-right: thin solid white; position: fixed; width: 250px; }

.midcolumn { margin-left: 254px; width: 600px; position: absolute; border-right: thin solid white; background-color: black; min-height: 100vh; }

.midcolumn-archive { margin-left: 254px; position: absolute; background-color: black; min-height: 100vh; }

.midcolumn-latest { margin-left: 254px; width: 600px; position: absolute; background-color: black; min-height: 100vh; }

.midcolumn-borderless { margin-left: 254px; width: 600px; position: absolute; background-color: black; min-height: 100vh; }

.leftcolumn-borderless { background: black; height: 100vh; position: fixed; width: 250px; }

.leftcolumn-latest { background: black; height: 100vh; position: fixed; width: 250px; }

.leftcolumn-archive { background: black; height: 100vh; position: fixed; width: 250px; }

.pre-archive { border-collapse: separate; border: none; line-height: 1.2em; font-family: monospace; border-spacing: 0px; margin: 0px 1em; }

.pre-archive td, pre-archive tr { padding: 0px; margin: 0px; border: none; }

.pre-archive a { display: block; margin: 0px; padding: 0px; width: auto; }

.pre-archive p { display: inline; margin: 0px; padding: 0px; }

.rightcolumn { margin-left: 858px; margin-top: 0em; float: right; height: 100vh; z-index: 3; }

.rightcolumn img { width: 45%; margin-bottom: 1em; }

main { padding: 1em auto; }

.tags { text-align: center; }

.related h2, .tags h2 { margin: auto 0px; color: white; text-decoration: none; font-variant: small-caps; font-weight: bold; width: fit-content; }


/* PROFILE
================================================== */

.sidebar-card a, .related a {
    margin-bottom: 0.5em;
}

.profile-pic {
    border-radius: 50%;
    width: 55px;
    margin-bottom: 0.5em;
    
    @media (max-width: 900px)
     {float: 100%;
         margin: auto
         }}

.profile {
    margin-bottom: 0.5em;
    font-weight: bold;
    text-align: center;
}

.user-name {
    color: $internal-links;
    text-decoration: underline;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}

.sidebar-link-box, .index-grid {
    display: grid;
    grid-template-columns: auto;
//    border: 2px brown solid; 
    box-shadow: 1px 1px 0px $color-box-shadow;
    background-color: black;
    margin-bottom: 0.5em;
    max-width: 100%;
    padding: 0.5em;
    font-size: 0.9em;
    
    @media (max-width: 900px)
     {margin: auto;
      display: block;
}}

.sidebar-link-box h2 {
    font-size: 1.3em;
    
}

.sidebar-link-box {
    padding: 0em;
}


.sidebar-card h1 {
    font-size: 1.4em;
    padding: 0em;
    text-decoration: underline;
}

.sidebar-link-box ul li {
    list-style: none;
    list-style-position: inside;

}



.silent-link {
    color: $color-text;
}

/* HOME 
=============*/

.home-card {
    width: 400px;
    margin: auto;
    padding: 25px; 
    background-color: $background;
    border: 2px solid white;
}

.container-sml {
    width: 400px;
    margin: auto;
}

.home-icon {
    width: 50px;
    background-color: transparent;
    border: none;
}

.icon-grid {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    padding: 5px;
}

.flip {
      transform: scaleX(-1);
}


/* POST CONTENT
(use this to style the formatting of your posts)
================================================== */
.post-content {
    line-height: 1.5em;
      margin-left:2em; 
  margin-right:1em; 
  padding-top:0.5em;
}

.post-content img {
  max-width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 2em;
  max-height: 75vh;
  border-radius: 2em;
}


.post-content blockquote {
  padding: 1em;
  margin: 0;
  font-size: 1em;
  font-family: serif;
    font-style: italic;
}

.notes-entry-container {
  border: $color-item-border;
  padding:1em; padding-top:0em; 
}

// image captions
img+em {
    display: block;
    color: $internal-links;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    margin-top: -1.5em;
}

/* BACKLINKS
================================================== */

.backlinks-container {
    max-width:28em; margin: 0 auto;
    background-color: black;
    padding: 1em;
    margin: 1em auto;
    border: 2px solid brown;
    border-radius: 5px;
    
}

.backlinks-container h1{
    margin-bottom: 1em
}

.backlink-box {
    padding:1em;
    margin-bottom: 0.5em;
    line-height:1em;
    background-color: $color-items;
    border: 2px solid $color-primary;
    border-radius: $border-radius;
    line-height:1em;
}


/* EMBEDDED NOTES
================================================== */

.embed-wrapper {
    border: $embed-border;
    padding: 1em;
    background-color: black;
    margin-top: 2em;
    margin-bottom: 2em;
    background: white;
    border-radius: 5px;
}

.embed-title {
    display: none;
}

.embed-content {
    color: white;
}
.embed-content p {
    color: white;
}



/* SIDENOTES
================================================== */

.sidenote {
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 1em;
    font-style: italic;
    font-size: 0.8em;
    line-height: 1.1em;
    box-sizing: border-box;
    color: white;

}

.sidenote-hover {
    color: $color-subtext;
    z-index: 1;
    box-sizing: border-box;
    color: $internal-links;
    background: white;
    border: 1px solid brown;
}

.sidenote:hover {
    z-index: 1;
    color: $internal-links;
}

.footnote web-link {
    position: relative
}
.bigger:after{
    content:"";
    padding: 50px;  
    position: absolute;
    left: -25px;
    top: -25px;
} 



/* FOOTNOTES
================================================== */

.footnotes {
    border: 2px solid white;
    padding: 1em 0;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.license {
    font-family: monospace;
    line-height: 1.1em;
    color: $color-text;
    font-size: 1rem;
    border: 2px solid white;
    background-color: black;
    display: block;
    padding: 1em;
    max-width: 28em;
    margin: 2em auto;
    text-align: center;
    }

/* INDEX
================================================== */

.index-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
    grid-gap: flex;
    padding: 1em;
        border: 2px solid brown;
    border-radius: 5px;

    
     @media (max-width: 1000px)
     {grid-template-columns: auto;}
}

.index-anchor {
        text-decoration: none !important;

}
.index-item, .archive-item, .library-item {
    width: 95%;
    margin: auto;
    background-color: black;
    text-align: left;
    margin-bottom: 1em;
    padding: 0.5em;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 5px;
    
    &:hover {
        box-shadow: 0px 0px 0px 1px $color-primary;
    }
}

.index-item {
    height: 8em;
    overflow: hidden;
}

.index-item-title, .library-item-title {
font-weight: bold;
    text-decoration: underline;
    color: $color-text;
    overflow: hidden;
}

.index-item-date, .library-item-filetype {
    font-weight: normal;
    float: right;
}

.index-item-topic {
font-weight: normal;
    font-weight: bold;

}

.index-item-excerpt {
font-weight: normal;
    height: 5em;
    width: 85%;
    overflow: hidden;
    float: left;

}



/* ARCHIVE
================================================== */

.archive-grid {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-gap: 0.5em;
    background-color: $background;
    padding: 1em;
    margin: auto;
}

.archive-card {
    background-color: black;
    width: 100%;
    margin: auto;
}



/* LIBRARY
================================================== */

.library-item {
    display: grid;
    grid-auto-columns: 100% 10%;
}

.draft-badge {
    padding: 0.5em;
    width: fit-content;
    // margin: 0.5em 0.5em auto auto;
    // position: absolute;
    float: right;
    background-color: red;
    color: white;
  }
  
.post-date {
    padding: 0.5em;
    // margin: 0.5em auto auto 0.5em;
    width: fit-content;
    // margin: auto;
    // position: absolute;
  }

.library-grid-container {
    width: 90%;
    margin: auto;
}
    
.library-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}

.library-image {
    background: white;
}

.library-image-container {
    height: 7em;
    margin: 4%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}




/* TAG PAGE
================================================== */

.home-link-button a {
    &:hover {
    background-color: black;
    color: black;
    }
}

.tile h1, .home-link-button h1 {
  margin: auto;
    width: 100%;
    text-align: center;
}

.tile:hover, home-link-button:hover {
    background-color: $color-items;
}

.tile:target {
    border: medium solid $color-primary;
}

.tile, .home-link-button {
   background-color: black;    
    border: 2px solid $color-primary;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover {
    background-color: $color-items;}
}

.tag-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}



/* PREVIOUS / NEXT BUTTONS
================================================== */

.prev-next {
    background-color: $background;
    width: 100%;
    height: 3.5em;
}

.prev-next a {
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
}
.prev {
    float: left;
    border: 2px solid brown;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0.5em;
    width: 45%;
    max-height: 2.5em;
    text-align: center;
    background: white;
    line-height: 1.5em;

    &:hover {
    background: brown;
        color: white; }
}


.next {
    float: right;
    border: 2px solid brown;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0.5em;
    width: 45%;
    max-height: 2.5em;
    text-align: center;
    background: white;
    line-height: 1.5em;
    
    &:hover {
    background: brown;
        color: white; }
}


.subtitle-text {
    width: 100%;
    text-align: center !important;
    margin: 0.5em auto;
}



/* COLOR BADGES (ZETTELKASTEN HEX)
================================================== */

.hex-badge {
    width: 2em;
    height: 2em;
    float: right;
    border: 2px solid white;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 1px black;
    margin-top: -1em;
}

/* NETWORK GRAPH (BACKLINK VISUAL REPRESENTATION)
================================================== */


/* BORDERS
================================================== */

// Border around your posts
 article, .index-card {
    border: 2px solid white;
    box-sizing: border-box;
}

// Border around the items in the sidebar
.sidebar-card, .border {
    border: 0px solid white;
    box-sizing: border-box;
    margin-bottom: 1em;
        border-radius: 5px;

}




/* GRAPHVIZ PARSER -- GRAPH VISUALISATION TOOL
================================================== */

.graphviz-wrapper {
    padding: 0px;
}

.graphviz-wrapper svg {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



/* GENERAL PURPOSE CLASSES
================================================== */

// use syntax: {:.classname} within markdown to apply a class— these general classes might come in handy.


/* -=Text=- */

.right-aside {
    float: right;
    border: 2px solid white;
    padding: 1em;
    width: 40%;
    margin-left: 0.5em;
    font-size: 0.9em;
    background: white;
    border-radius: 5px;
}

.left-aside {
    float: left;
    border: 2px solid white;
    padding: 1em;
    width: 40%;
    margin-left: 1em;
    font-size: 0.9em;
    background: white;
    border-radius: 5px;
}

.center{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* -=Images=- */

.right {
    float: right;
    width: 50%;
    padding: 1em;
}

.left {
    float: left;
    width: 50%;
    padding: 1em;
}

.border {
    border: medium solid brown;
}

.shadow {
    box-shadow: 0px 0px 15px black;
}

.glow {
    box-shadow: 0px 0px 15px white;
}





